@model LeaveCore.Email.Model.ChangeEmailModel
@{Layout = null;}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
    body, p, pre { font-family: 'Angsana New',Tahoma, Arial, Sans-Serif, Helvetica; font-size: 1.3em; }
    div { font-family: 'Angsana New',Tahoma, Arial, Sans-Serif, Helvetica; font-size: 1em; }
    .infoPanel 
    {
    	border:0px solid; background-color:Orange; padding: 10px;
    	border-top-left-radius: 10px; border-bottom-right-radius: 10px;
    	-moz-border-top-left-radius: 10px; -moz-border-bottom-right-radius: 10px;
    }
    </style>
</head>
<body>
<pre>
<strong>วันที่</strong> @DateTime.Now.ToString("d MMMM yyyy", @Model.DisplayCultureInfo)
<strong>เรื่อง</strong> แจ้งความเคลื่อนไหวใบลาของคุณ@{@Model.LeaveRequest.Person.NameFirstTH}  @Model.LeaveRequest.Person.NameLastTH
<strong>เรียน</strong> คุณ@{@Model.Recipient.NameFirstTH}  @Model.Recipient.NameLastTH

ใบลาตามรายละเอียดด้านล่าง มีความเคลื่อนไหวดังนี้

<span class="infoPanel">@Model.ChangeMessage</span>

<div style="border: 1px solid; display:inline-block; padding: 10px;"><strong>พนักงาน</strong> : @Model.LeaveRequest.Person.NameFirstTH  @Model.LeaveRequest.Person.NameLastTH @(string.IsNullOrEmpty(Model.LeaveRequest.Contact) ? "" : string.Format("(ติดต่อ {0})", Model.LeaveRequest.Contact))
<strong>ช่วงวันลา</strong> : @if (@Model.LeaveRequest.Since.Value.Date == @Model.LeaveRequest.Until.Value.Date)
                             {
        @Model.LeaveRequest.Since.Value.ToString("วันdddd ที่ d MMMM yyyy  เวลา HH:mm", @Model.DisplayCultureInfo)
        @(" - ")
        @Model.LeaveRequest.Until.Value.ToString("HH:mm น.", @Model.DisplayCultureInfo);
                             }
                             else
                             {
        @Model.LeaveRequest.Since.Value.ToString("วันdddd ที่ d MMMM yyyy  เวลา HH:mm น.", @Model.DisplayCultureInfo)
        @(Environment.NewLine)           <strong>ถึง</strong>@(" : ")@Model.LeaveRequest.Until.Value.ToString("วันdddd ที่ d MMMM yyyy  เวลา HH:mm น.", @Model.DisplayCultureInfo);
                             }

<strong>คิดเป็นจำนวนวัน (วัน:ชั่วโมง:นาที)</strong> : @LeaveCore.Tool.ConvertDaysToString(Model.LeaveRequest.TotalLeaveDays)
<strong>ประเภทการลา</strong> : @Model.LeaveRequest.TypeSubName @(string.IsNullOrEmpty(Model.LeaveRequest.Reason) ? "" : string.Format("({0})", Model.LeaveRequest.Reason))
<strong>สถานะใบลา</strong> : @Model.LeaveRequest.DisplayStatusName
<strong>ยื่นใบลาเมื่อ</strong> : @Model.LeaveRequest.ApplyDate.Value.ToString("วันdddd ที่ d MMMM yyyy  เวลา HH:mm น.", @Model.DisplayCultureInfo)
<a href="@Model.InternetBasedUrl/Leave/Viewer/@Model.LeaveRequest.RequestID/@Model.Recipient.PersonNo/0/@LeaveCore.Leave.DigestVeto(@Model.Recipient.PersonNo, @Model.LeaveRequest.RequestID)/$" title="รายละเอียดเพิ่มเติม" style="" onclick="window.open(this.href);return false;" target="_blank">รายละเอียดเพิ่มเติม...</a>
</div>

จึงเรียนมาเพื่อทราบ

ขอแสดงความนับถือ
Leave Online System
</pre>
</body></html>