@{Layout = null;}
<!DOCTYPE html>
<!--[if IE 7 ]> <html class="no-js ie ie7 lte7 lte8 lte9" lang="en-US"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie ie8 lte8 lte9" lang="en-US"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie ie9 lte9>" lang="en-US"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
	<title>Leave Online</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!--link rel="shortcut icon" href="../favicon.ico"-->
	@{
		var ContentsRequired = new ViewDataDictionary {
		{"base.ui",true},{"jquery",true},{"jquery.ui",true},{"jquery.ui.core",true},
		{"jquery.ui.widget",true},{"jquery.ui.button",true},{"jquery.ui.tabs",true},
		{"jquery.ui.dialog",true},{"jquery.ui.position",true},{"jquery.jqgrid",true},
		{"jquery.qtip",true},{"jquery.exists",true},{"my.fonts",true},{"my.site",true},
		{"my.styles",true},{"my.scripts",true}};
		Html.RenderPartial("~/Views/Shared/_Core.cshtml", ContentsRequired);
	}
	<style type="text/css">
		.ui-inner-panel {
			min-width: 1124px !important;
		}
		.m-ui-tabs-nested .ui-tabs .ui-tabs-nav {
			background: inherit;
		}
		.m-ui-tabs-nested .ui-tabs .ui-tabs-panel {
			min-height: 250px;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#Quota-Grid").jqGrid({
				 url: '@Url.Action("AjaxListQuota", "Leave")'
				,mtype: "GET"
				,datatype: "json"
				,postData: { PersonNo: "@ViewBag.PersonNo" }
				,width: "auto"
				,height: 221
				,caption: "<em>โควต้าวันลาของ { @ViewBag.PersonName }</em>"
				,colNames: ["ประเภทการลา","สิทธิ์ลา (วัน)","hidden","ใช้ไปแล้ว (วัน)","hidden","คงเหลือ (วัน)"]
				,colModel: [
					{name:"NameTH",index:"NameTH",width:150,sortable:true,resizable:false},
					{name:"QuotaAmount",index:"QuotaAmount",width:90,align:"right",sortable:true,resizable:false},
					{name:"TakenAmount",index:"TakenAmount",width:90,align:"right",sortable:true,resizable:false,hidden:true},
					{name:"ApproveAmount",index:"ApproveAmount",width:90,align:"right",sortable:true,resizable:false},
					{name:"BalanceAmount",index:"BalanceAmount",width:90,align:"right",sortable:true,resizable:false,hidden:true},
					{name:"RemainAmount",index:"RemainAmount",width:90,align:"right",sortable:true,resizable:false}
				]
				,altRows: true
				,altclass: "oddColor"
				,pager: "#Quota-Grid-nav"
				,rowNum: 100
				,rowList: []         // disable page size dropdown [10,20,30]
				,pgtext: null        // disable pager text like 'Page 0 of 10'
				,pgbuttons: false    // disable page control like next, back button
				,viewrecords: true   // display the total number of records
				,sortname: null
				,sortorder: "asc"
				,rownumbers: true
				,gridview: true
				,autoencode: true
				,ignoreCase: true
				,loadComplete: function(data) {
					try {
						var res, elem;
						$(this.grid.bDiv).children().children(".ui-jqgrid-btable")
									.children("tbody").children(".jqgrow").each(function() {
							var t = this;
							var arr = ["TakenAmount", "ApproveAmount", "BalanceAmount"];
							$.each(arr, function(key, value) {
								elem = $(t).children("td[aria-describedby*='"+value+"']");
								res = DisplayDHMformatText($(elem).text(), "#d #h #m");
								if(res) $(elem).prop("title", res);
							});
							$(this).children("td[aria-describedby*='Amount']").css({ "padding-right": "10px" });
						});
					} catch(e) {}
				}
			}).navGrid("#Quota-Grid-nav" ,{edit:false,add:false,del:false,refresh:false,search:false});
			
			var LocalData = $.parseJSON(JSON.stringify(@Html.Raw(ViewBag.JsonLocalData)));
			$("#Leave-Grid").jqGrid({
				 datatype: "local"
				,editurl: "clientArray"
				,data: LocalData
				,width: "auto"
				,height: 90
				,caption: "<em>รายการลาของ { @ViewBag.PersonName }</em>"
				,colNames: ["D1","D2","D3","I1","I2","I3","I4","Q1","วันที่ยื่นลา","ประเภทการลา","วันที่ลา","ช่วงเวลา","ลา(ชั่วโมง)","สถานะ","เหตุผลการลา","พิจารณา","ลงความเห็น"]
				,colModel: [
					{name:"LeaveID",index:"LeaveID",hidden:true},
					{name:"StatusID",index:"StatusID",hidden:true},
					{name:"gStatusID",index:"gStatusID",hidden:true},
					{name:"IsAction",index:"IsAction",hidden:true},
					{name:"IsPending",index:"IsPending",hidden:true},
					{name:"IsAwaiting",index:"IsAwaiting",hidden:true},
					{name:"IsCancelRequest",index:"IsCancelRequest",hidden:true},
					{name:"LeaveMinutes",index:"LeaveMinutes",hidden:true},
					{name:"ApplyDate",index:"ApplyDate",width:80,align:"center",sortable:true,resizable:true},
					{name:"LeaveType",index:"LeaveType",width:160,sortable:true,resizable:true},
					{name:"LeaveDate",index:"LeaveDate",width:80,align:"center",sortable:true,resizable:true},
					{name:"LeavePeriod",index:"LeavePeriod",width:80,align:"center",sortable:true,resizable:true},
					{name:"LeaveAmount",index:"LeaveAmount",width:80,align:"center",sortable:true,resizable:true},
					{name:"LeaveStatus",index:"LeaveStatus",width:80,align:"center",sortable:true,resizable:true},
					{name:"LeaveReason",index:"LeaveReason",width:150,sortable:true,resizable:true},
					{name:"ActionRequested",index:"ActionRequested",width:230,align:"center",sortable:false,resizable:true},
					{name:"HeadComment",index:"HeadComment",width:160,sortable:true,resizable:true,editable:true}
				]
				,altRows: true
				,altclass: "oddColor"
				,pager: "#Leave-Grid-nav"
				,rowNum: 100
				,rowList: []         // disable page size dropdown [10,20,30]
				,pgtext: null        // disable pager text like 'Page 0 of 10'
				,pgbuttons: false    // disable page control like next, back button
				,viewrecords: true   // display the total number of records
				,sortname: "LeaveID"
				,sortorder: "asc"
				,rownumbers: true
				,gridview: true
				,ignoreCase: true
				,onCellSelect: function(rowid, iCol, cellcontent, e) {
					try {
						var cm = $(this).getGridParam("colModel");
						var rec = $(this).getRowData(rowid);
						if(cm[iCol].name == "HeadComment" && eval(rec.IsAction) && parseInt(rec.LeaveMinutes) > 0 &&
							(eval(rec.IsPending) || eval(rec.IsAwaiting) || eval(rec.IsCancelRequest))) $(this).editRow(rowid, true);
					} catch(e) {}
				}
				,loadComplete: function(data) {
					try {
						setTimeout(function() {
							VerifyGrant(data.rows);
						}, 100);
					} catch(e) {}
					try {
						var res, elem;
						$(this.grid.bDiv).children().children(".ui-jqgrid-btable")
									.children("tbody").children(".jqgrow").each(function() {
							elem = $(this).children("td[aria-describedby*='LeaveAmount']");
							res = DisplayDHMformatText($(elem).text(), "#h #m");
							if(res) $(elem).prop("title", res);
						});
					} catch(e) {}
				}
				,gridComplete: function()	{
					try {
						var ids = $(this).getDataIDs();
						for(var i=0; i<ids.length; i++) {
							var rowid = ids[i];
							var rec = $(this).getRowData(rowid);
							var LeaveID = rec.LeaveID;
							var aStatusID = rec.StatusID;
							var aLeaveType = rec.LeaveType;
							var aLeaveAmount = rec.LeaveAmount;
							var aLeaveStatus = rec.LeaveStatus;
							var IsValidApproved = false;
							var IsValidRejected = false;
							var IsValidAwaiting = false;
							var IsLeaveZero = parseInt(rec.LeaveMinutes) == 0;
							var aApprovedStatusId = "@LeaveCore.Const.STATUS_LEAVE_APPROVED";
							var aRejectedStatusId = "@LeaveCore.Const.STATUS_LEAVE_REJECTED";
							var aAwaitingStatusId = "@LeaveCore.Const.STATUS_LEAVE_AWAITING";
							if(IsLeaveZero) {
								aLeaveAmount = "<span style=\"color:red;\">"+aLeaveAmount+"</span>";
								aLeaveStatus = "<span style=\"color:red;\">"+aLeaveStatus+"</span>";
							} else {
								aLeaveStatus = DisplayLeaveStatus(aStatusID, aLeaveStatus);
							}
							if(eval(rec.IsPending) || eval(rec.IsAwaiting) || eval(rec.IsCancelRequest))
							{
								IsValidApproved = eval(rec.IsAction) && !IsLeaveZero;
								IsValidRejected = eval(rec.IsAction) && !IsLeaveZero;
								IsValidAwaiting = eval(rec.IsAction) && !IsLeaveZero && !eval(rec.IsAwaiting) && !eval(rec.IsCancelRequest);
								if(eval(rec.IsCancelRequest)) {
									aApprovedStatusId = "@LeaveCore.Const.STATUS_LEAVE_CANCELAPPROVED";
									aRejectedStatusId = "@LeaveCore.Const.STATUS_LEAVE_CANCELREJECTED";
								}
							}

							var vbApproved = "";
							var vbRejected = "";
							var vbAwaiting = "";
							var attrApproved = "ui-state-active";
							var attrRejected = "ui-state-error";
							var attrAwaiting = "ui-state-highlight";
							var styleButton = "style=\"height:18px;width:65px;\"";
							if(!IsValidApproved) { attrApproved = attrApproved + " ui-state-disabled"; vbApproved = "disabled=\"disabled\""; }
							if(!IsValidRejected) { attrRejected = attrRejected + " ui-state-disabled"; vbRejected = "disabled=\"disabled\""; }
							if(!IsValidAwaiting) { attrAwaiting = attrAwaiting + " ui-state-disabled"; vbAwaiting = "disabled=\"disabled\""; }
							attrApproved = "class=\""+attrApproved+"\" "+vbApproved+" "+styleButton;
							attrRejected = "class=\""+attrRejected+"\" "+vbRejected+" "+styleButton;
							attrAwaiting = "class=\""+attrAwaiting+"\" "+vbAwaiting+" "+styleButton;
							var fnApproved = "onclick=\"Grant(this,"+rowid+","+LeaveID+","+aApprovedStatusId+",true);\"";
							var fnRejected = "onclick=\"Grant(this,"+rowid+","+LeaveID+","+aRejectedStatusId+",true);\"";
							var fnAwaiting = "onclick=\"Grant(this,"+rowid+","+LeaveID+","+aAwaitingStatusId+",false);\"";
							var emApproved = "<button id=\"approved\" "+fnApproved+" "+attrApproved+" title=\"อนุมัติ\">อนุมัติ</button>";
							var emRejected = "<span style=\"padding-left:6px;\"><button "+
															"  id=\"rejected\" "+fnRejected+" "+attrRejected+" title=\"ไม่อนุมัติ\">ไม่อนุมัติ</button></span>";
							var emAwaiting = "<span style=\"padding-left:6px;\"><button "+
															"  id=\"awaiting\" "+fnAwaiting+" "+attrAwaiting+" title=\"รอพิจารณา\">รอพิจารณา</button></span>";

							if(aLeaveType.indexOf("m-LeaveType") < 0) {
								var vicon = "<a id=\"grant-viewer\" href=\"javascript:void(0);\" class=\"ui-icon ui-icon-zoomin\""+
													 "   onclick=\"GrantViewer(this, "+LeaveID+")\" title=\"รายละเอียดการอนุมัติ\"></a>";
								var aLeaveType = "<table id=\"m-LeaveType\" class=\"twelve\">"+
																 "  <tr>"+
																 "    <td style=\"border:none;\">"+aLeaveType+"</td>"+
																 "    <td style=\"width:10px;border:none;text-align:right;\">"+vicon+"</td>"+
																 "  </tr>"+
																 "</table>";
							}

							$(this).setRowData(rowid, {
								ActionRequested: emApproved+emRejected+emAwaiting,
								LeaveAmount: aLeaveAmount, LeaveStatus: aLeaveStatus, LeaveType: aLeaveType
							});
						}
					} catch(e) {}
				}
			}).navGrid("#Leave-Grid-nav" ,{
				edit:false, add:false, del:false, refresh:false, search:false
			}).setGroupHeaders({
				useColSpanStyle: true,
				groupHeaders: [
					{startColumnName:"LeaveID", numberOfColumns:15, titleText: "รายละเอียดการลา"},
					{startColumnName:"ActionRequested", numberOfColumns:2, titleText: "หัวหน้างานพิจารณา"}
				]
			});
			
			$("#button-panel button").button().click(function (event) {
				event.preventDefault();
				var actionStatus;
				var aConfirm = true;
				if ($(this).is("#all-approved")) actionStatus = "@LeaveCore.Const.STATUS_LEAVE_APPROVED";
				if ($(this).is("#all-rejected")) actionStatus = "@LeaveCore.Const.STATUS_LEAVE_REJECTED";
				if ($(this).is("#all-awaiting")) 
				{
					aConfirm = false;
					actionStatus = "@LeaveCore.Const.STATUS_LEAVE_AWAITING";
				}
				if ($(this).is("#all-cancelapproved")) actionStatus = "@LeaveCore.Const.STATUS_LEAVE_CANCELAPPROVED";
				if ($(this).is("#all-cancelrejected")) actionStatus = "@LeaveCore.Const.STATUS_LEAVE_CANCELREJECTED";
				try {
					GrantAll(this, actionStatus, aConfirm);
				} catch(e) { alert(e.Message); }
			});

			$("#tabs").tabs({
				create: function(event, ui) {
					var a = $(".ui-jqgrid:eq(0)").outerHeight();
					var b = $(this).children(".ui-tabs-nav").outerHeight();
					$(this).children(".ui-tabs-panel").css({ "height" : (a - b) });
				}
			});

			$("#viewForm").button({ icons: { primary: "ui-icon-contact" }, text: true });
			$("#prevData").button({ icons: { primary: "ui-icon-circle-arrow-w" }, text: true });
			$("#nextData").button({ icons: { primary: "ui-icon-circle-arrow-e" }, text: true });

			VerifyRequestCompare();
		});

		function VerifyGrant(rows)
		{
			var CountValidApproved = 0;
			var CountValidRejected = 0;
			var CountValidAwaiting = 0;
			var CountCancelRequest = 0;
			var IsMultipleStatus = false;
			var prevStatusID = -1;
			for(var i=0; i<rows.length; i++) {
				if(eval(rows[i].IsPending) || eval(rows[i].IsAwaiting) || eval(rows[i].IsCancelRequest))
				{
					if(eval(rows[i].IsAction)) {
						CountValidApproved++;
						CountValidRejected++;
						if(eval(rows[i].IsCancelRequest)) CountCancelRequest++;
						if(!eval(rows[i].IsAwaiting) && !eval(rows[i].IsCancelRequest)) CountValidAwaiting++;
					}
				}
				if(prevStatusID != -1 && prevStatusID != parseInt(rows[i].StatusID) &&
					 rows[i].gStatusID != "@LeaveCore.Const.STATUS_LEAVE_AWAITING") IsMultipleStatus = true;
				prevStatusID = parseInt(rows[i].StatusID);
			}
			try {
				var elem = "#button-panel button";
				$(elem).button({ disabled: true });
				if(!IsMultipleStatus) {
					if(CountCancelRequest == rows.length) {
						$("#all-approved").button({ disabled: false }).prop("id", "all-cancelapproved");
						$("#all-rejected").button({ disabled: false }).prop("id", "all-cancelrejected");
					} else {
						if(CountValidApproved == rows.length) $("#all-approved").button({ disabled: false });
						if(CountValidRejected == rows.length) $("#all-rejected").button({ disabled: false });
						if(CountValidAwaiting == rows.length) $("#all-awaiting").button({ disabled: false });
					}
				}
				$(elem).qtip("destroy");
			} catch (e) {}
		}

		function VerifyRequestCompare() {
			$("#prevData").button({ disabled: true });
			$("#nextData").button({ disabled: true });
			$.ajax({
				 url: '@Url.Action("AjaxVerifyRequestCompare", "Grant")'
				,type: "POST"
				,async: true
				,data: { RequestID: "@ViewBag.RequestID", HeadPersonNo: "@ViewBag.HeadPersonNo" }
				,dataType: "json"
				,success: function(data, textStatus, jqXHR) {
					if(data.hasPrevRequested) $("#prevData").button({ disabled: false });
					if(data.hasNextRequested) $("#nextData").button({ disabled: false });
				}
				,error: function(jqXHR, textStatus, errorThrown) {}
			});
		}

		function Grant(elem, rowid, LeaveID, newStatusID, aConfirm) {
			if(aConfirm && !confirm("ยืนยันการทำรายการ\n** เมื่อยืนยันแล้ว จะไม่สามารถเปลี่ยนแปลงได้"))
			{
				return;
			}
			var objGrid = "#Leave-Grid";
			var eid = $(elem).prop("id");
			var bDiv = $(objGrid)[0].grid.bDiv;
			ChangeGridRows(objGrid, $(objGrid).jqGrid("getDataIDs"));

			var em = "e".concat(new Date().getTime());
			DisabledPageInteractive(em);
			var rec = $(objGrid).jqGrid("getRowData", rowid);
			$.ajax({
				 url: '@Url.Action("AjaxGrant", "Grant")'
				,type: "POST"
				,async: true
				,data: {
					RequestID: "@ViewBag.RequestID", LeaveID: LeaveID, 
					HeadPersonNo: "@ViewBag.HeadPersonNo", NewStatusID: newStatusID, HeadComment: rec.HeadComment
				}
				,dataType: "json"
				,success: function(data, textStatus, jqXHR) {
					if (textStatus == "success" && !eval(data.error)) {
						if(typeof(data.results) == "object" && data.results != null) {
							var obj = data.results;
							$(objGrid).jqGrid("setRowData", rowid, {
								StatusID: obj.StatusID, gStatusID: obj.gStatusID,
								LeaveStatus: obj.LeaveStatus, LeaveAmount: obj.LeaveAmount,
								IsPending: obj.IsPending, IsAwaiting: obj.IsAwaiting, IsCancelRequest: obj.IsCancelRequest
							});
						}
						$(objGrid).jqGrid().trigger("reloadGrid");
						$("#Quota-Grid").jqGrid().trigger("reloadGrid");
						setTimeout(function() {
							EnabledPageInteractive(em);
							elem = $(bDiv).find(".ui-jqgrid-btable tr[role=row][id="+rowid+"] button[id="+eid+"]");
							DisplayqTipResult(elem, "<p></p><p>ทำรายการเรียบร้อย</p><p></p>", "qtip-green qtip-shadow qtip-rounded");
						}, 1000);
					} else {
						var msg = "เกิดข้อผิดพลาด";
						if(data.errorMessage == 'STATUS_CONFLICT_WITH_OTHER_APPROVAL')
						{
							msg = "ไม่สามารถอนุมัติได้ เนื่องจากผู้อนุมัติท่านอื่นพิจารณาไม่อนุมัติใบลาไปแล้ว";
						}
						EnabledPageInteractive(em);
						DisplayqTipResult(elem, "<p></p><p>"+msg+"</p><p></p>", "qtip-red qtip-shadow qtip-rounded");
					}
				}
				,error: function(jqXHR, textStatus, errorThrown) {
					alert("error.");
					EnabledPageInteractive(em);
				}
			});
		}

		function GrantAll(elem, newStatusID, aConfirm) {
			if(aConfirm && !confirm("ยืนยันการทำรายการ\n** เมื่อยืนยันแล้ว จะไม่สามารถเปลี่ยนแปลงได้"))
			{
				return;
			}
			var LeaveIDs = [];
			var HeadComments = [];
			var objGrid = "#Leave-Grid";
			var ids = $(objGrid).jqGrid("getDataIDs");
			
			ChangeGridRows(objGrid, ids);
			for(var i=0; i<ids.length; i++) {
				var abc = $(objGrid).jqGrid("getRowData", ids[i]);
				LeaveIDs.push(abc.LeaveID);
				HeadComments.push(abc.HeadComment);
			}

			var em = "e".concat(new Date().getTime());
			DisabledPageInteractive(em);
			$.ajax({
				 url: '@Url.Action("AjaxGrantAll", "Grant")'
				,type: "POST"
				,async: true
				,traditional: true
				,data: {
					RequestID: "@ViewBag.RequestID", LeaveIDs: LeaveIDs, 
					HeadPersonNo: "@ViewBag.HeadPersonNo", NewStatusID: newStatusID, HeadComments: HeadComments
				}
				,dataType: "json"
				,success: function(data, textStatus, jqXHR) {
					if (textStatus == "success" && !eval(data.error)) {
						if(typeof(data.results) == "object" && data.results != null) {
							for(var i=0; i<ids.length; i++) {
								var rowid = ids[i];
								var rec = $(objGrid).jqGrid("getRowData", rowid);
								$.each(data.results, function(key, obj) {
									if(obj.LeaveID.toString() == rec.LeaveID) {
										$(objGrid).jqGrid("setRowData", rowid, {
											StatusID: obj.StatusID, gStatusID: obj.gStatusID,
											LeaveStatus: obj.LeaveStatus, LeaveAmount: obj.LeaveAmount,
											IsPending: obj.IsPending, IsAwaiting: obj.IsAwaiting, IsCancelRequest: obj.IsCancelRequest
										});
									}
								});
							}
						}
						$(objGrid).jqGrid().trigger("reloadGrid");
						$("#Quota-Grid").jqGrid().trigger("reloadGrid");
						setTimeout(function() {
							EnabledPageInteractive(em);
							DisplayqTipResult(elem, "<p></p><p>ทำรายการเรียบร้อย</p><p></p>", "qtip-green qtip-shadow qtip-rounded");
						}, 1000);
					} else {
            var msg = "เกิดข้อผิดพลาด";
            if(data.errorMessage == 'STATUS_CONFLICT_WITH_OTHER_APPROVAL')
            {
              msg = "ไม่สามารถอนุมัติได้ เนื่องจากผู้อนุมัติท่านอื่นพิจารณาไม่อนุมัติใบลาไปแล้ว";
            }
						EnabledPageInteractive(em);
						DisplayqTipResult(elem, "<p></p><p>"+msg+"</p><p></p>", "qtip-red qtip-shadow qtip-rounded");
					}
				}
				,error: function(jqXHR, textStatus, errorThrown) {
					alert("error.");
					EnabledPageInteractive(em);
				}
			});
		}

		function ChangeGridRows(objGrid, ids) {
			try {
				for(var i=0; i<ids.length; i++) {
					var rowid = ids[i];
					$(objGrid).jqGrid("saveRow", rowid);
				}
			} catch (e) {}
		}

		function GrantViewer(elem, id) {
			var html = "";
			var htmlu = "";
			$.ajax({
				 url: '@Url.Action("AjexListGrantViewer", "Leave")'
				,type: "POST"
				,async: true
				,data: { LeaveID: id }
				,dataType: "json"
				,success: function(data, textStatus, jqXHR) {
					var n = 0;
					for(i=0; i<data.grants.length; i++) {
						n++;
						var addClassName = (n % 2) == 0 ? "oddColor" : "evenColor";
						html = html+
						"<tr class=\"ui-widget-content m-grid-row ui-row-ltr "+addClassName+"\">"+
						"  <td class=\"ui-state-default m-grid-rownum\">"+n+"</td>"+
						"  <td>"+data.grants[i].HeadPersonName+"</td>"+
						"  <td style=\"text-align:center;\">"+data.grants[i].GrantStepName+"</td>"+
						"  <td style=\"text-align:center;\">"+data.grants[i].GrantDate+"</td>"+
						"  <td>"+data.grants[i].GrantComment+"</td>"+
						"</tr>";
					}
					if(data.vetoes.length > 0) {
						n = 0;
						for(i=0; i<data.vetoes.length; i++) {
							n++;
							var addClassName = (n % 2) == 0 ? "oddColor" : "evenColor";
							htmlu = htmlu+
							"<tr class=\"ui-widget-content m-grid-row ui-row-ltr "+addClassName+"\">"+
							"  <td class=\"ui-state-default m-grid-rownum\">"+n+"</td>"+
							"  <td>"+data.vetoes[i].HeadPersonName+"</td>"+
							"  <td style=\"text-align:center;\">"+data.vetoes[i].ActionStatusName+"</td>"+
							"  <td style=\"text-align:center;\">"+data.vetoes[i].ActionDate+"</td>"+
							"  <td>"+data.vetoes[i].Reason+"</td>"+
							"</tr>";
						}
						htmlu = "<br>"+
							"<div class=\"twelve ui-state-default\" style=\"font-weight:bold;color:red;text-align:center;\">การระงับลา</div>"+
							"<table class=\"ui-widget-content m-ui-grid-table twelve\" style=\"font-size:11px;\">"+
							"  <thead>"+
							"    <tr>"+
							"      <th class=\"ui-state-default\" style=\"width:20px;\">&nbsp;</th>"+
							"      <th class=\"ui-state-default\" style=\"width:150px;\">ผู้ระงับ</th>"+
							"      <th class=\"ui-state-default\" style=\"width:100px;\">สถานะ</th>"+
							"      <th class=\"ui-state-default\" style=\"width:80px;\">วันที่ระงับ</th>"+
							"      <th class=\"ui-state-default\" style=\"width:200px;\">หมายเหตุ</th>"+
							"    </tr>"+
							"  </thead>"+
							"  <tbody>"+
							"    "+htmlu+
							"  </tbody>"+
							"</table>";
					}
					//if($(elem).children().is(".m-ui-grid"))
					if(!$.exist($(elem).children("div"))) {
						$(elem).append($("<div />").prop("class","m-ui-grid"));
					} 
					if($(elem).children("div").hasClass("ui-dialog-content")) {
						$(elem).children("div").dialog("open");
					} else {
						$(elem).children("div").html(
							"<table class=\"ui-widget-content m-ui-grid-table twelve\" style=\"font-size:11px;\">"+
							"  <thead>"+
							"    <tr>"+
							"      <th class=\"ui-state-default\" style=\"width:20px;\">&nbsp;</th>"+
							"      <th class=\"ui-state-default\" style=\"width:150px;\">ผู้อนุมัติ</th>"+
							"      <th class=\"ui-state-default\" style=\"width:100px;\">ผลการอนุมัติ</th>"+
							"      <th class=\"ui-state-default\" style=\"width:80px;\">วันที่อนุมัติ</th>"+
							"      <th class=\"ui-state-default\" style=\"width:200px;\">เหตุผลการอนุมัติ</th>"+
							"    </tr>"+
							"  </thead>"+
							"  <tbody>"+
							"    "+html+
							"  </tbody>"+
							"</table>"+htmlu
						).dialog({
							 modal: true
							,autoOpen: true
							,width: "auto"
							,height: "auto"
							,resizable: false
							,closeOnEscape: true
							,title: $(elem).prop("title")
							,close: function(event, ui) { $(this).dialog("destroy").remove(); }
						});
					}
				}
				,error: function(jqXHR, textStatus, errorThrown) {
					window.console && console.log("Push Dialog (ajax): " + textStatus);
				}
			});
		}

		/* Reset sticky footer */
		$(window).load(function () {
			if ($(document.body).height() < $(window).height()) {
				try {
					var $windowHeight = $(window).height();
					var $headerHeight = $("header").outerHeight();
					var $containerHeight = $("#container").outerHeight();
					var $content = $("#content-wrapper");
					var $contentHeight = $("#content-wrapper").outerHeight();
					$content.css({
						"height": $windowHeight - $headerHeight - ($containerHeight - $contentHeight)
					});
				} catch (e) {
					window.console && console.log("Adjust sticky footer error: " + e.toString());
				}
			}
			setTimeout(function() { ResetGridHeight(); }, 300);
		});

		function ResetGridHeight(height) {
			var skipInnerHeight = 100; // different for group header
			var outerPanelHeight = $("#content-wrapper").outerHeight();
			var outerPanelPaddingTop = Math.abs(parseInt($("#content-wrapper").css("padding-top")));
			var outerPanelPaddingBottom = Math.abs(parseInt($("#content-wrapper").css("padding-bottom")));
			var firstInnerPanelHeight = $("#first-inner-panel").outerHeight();
			var firstSpacePanelHeight = $("#first-space-panel").outerHeight();
			var secondInnerPanelHeight = $("#second-inner-panel").outerHeight();
			var secondSpacePanelHeight = $("#second-space-panel").outerHeight();
			var thirdInnerPanelHeight = $("#third-inner-panel").outerHeight();
			var fitContentHeight = outerPanelHeight - outerPanelPaddingTop - outerPanelPaddingBottom -
														 firstInnerPanelHeight - firstSpacePanelHeight - 
														 secondInnerPanelHeight - secondSpacePanelHeight - skipInnerHeight;
									 
			if(thirdInnerPanelHeight < fitContentHeight) {
				$("#Leave-Grid").jqGrid("setGridHeight", fitContentHeight);
			}
		}
	</script>
	@{Html.RenderPartial("~/Views/Shared/_Scripts.cshtml");}
</head>
<body>
	<header>
		<section id="global-nav">
			<nav>
				<div class="constrain">
					<span id="logo-events">
						<img src="@Url.Content("~/Content/images/logo.png")" alt="Company Logo" style="width:150px;height:30px;"/>
					</span>
						@if (User.Identity.IsAuthenticated){
						<ul class="projects">
							<li class="project home"><a href="@Url.Content("~/Grant/Index")" title="Home"><span class="homeIcon"></span></a></li>
							<li class="project proj"><a href="@Request.Url.AbsoluteUri" title="Leave" class="active"><span>Leave</span></a></li>
						</ul>
						<ul class="links">
							@{if (User.Identity is LeaveCore.LoginIdentity){
								<li><a href="#">@(((LeaveCore.LoginIdentity)User.Identity).FirstName) @(((LeaveCore.LoginIdentity)User.Identity).LastName)</a></li>
							}}
							<li><a href="@Url.Content("~/Public/Logout")">Log out</a></li>
						</ul>}
				</div>
			</nav>
		</section>
	</header>
	<div id="container">
		<div id="content-wrapper" class="clearfix">
			<div class="content-right twelve columns">
				<div id="outer-panel" class="ui-inner-panel">
					<div id="first-inner-panel" class="ui-inner-panel">
						<div class="left-side">
							<table id="Quota-Grid">
							</table>
							<div id="Quota-Grid-nav">
							</div>
						</div>
						<div class="right-side">
							<div class="m-ui-tabs">
								<div class="m-ui-tabs-nested">
									<div id="tabs">
										<ul>
											<li><a href="#tabs-1"><span>ข้อมูลทั่วไป</span></a></li>
										</ul>
										<div id="tabs-1">
											<div class="tab-detail">
												<table>
													<tr>
														<td style="vertical-align:top;border:1px solid #ccc; width:150px;">
															<img src="@Url.Content("~/Content/images/no_pic.jpg")" width="150" height="150" alt="">
														</td>
														<td style="vertical-align:top;padding-left:20px;">
															<table class="info-panel">
																<tr>
																	<td style="text-align:right;">รหัส :</td>
																	<td><input type="text" id="EmployeeNo" value="@ViewBag.EmployeeNo" disabled style="width:200px;"></td>
																</tr>
																<tr>
																	<td style="text-align:right;">ชื่อ - สกุล :</td>
																	<td><input type="text" id="PersonName" value="@ViewBag.PersonName" disabled style="width:200px;"></td>
																</tr>
																<tr>
																	<td style="text-align:right;">ตำแหน่ง :</td>
																	<td><input type="text" id="PositionName" value="@ViewBag.PositionName" disabled style="width:200px;">
																	</td>
																</tr>
																<tr>
																	<td style="text-align:right;">สังกัด/แผนก :</td>
																	<td><input type="text" id="DepartmentName" value="@ViewBag.DepartmentName" disabled style="width:200px;"></td>
																</tr>
																<tr>
																	<td style="text-align:right;">วันที่เริ่มปฏิบัติงาน :</td>
																	<td><input type="text" id="StartingDate" value="@ViewBag.StartingDate" disabled style="width:200px;"></td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="first-space-panel" style="height:20px;">
					</div>
					<div id="second-inner-panel" class="ui-inner-panel twelve">
						<!--div class="right-side">
							<a id="viewForm" class="m-ui-button" href="@ViewBag.UrlLinkForm" target="_blank">พิมพ์แบบฟอร์ม</a>
							<a id="prevData" class="m-ui-button" href="@Url.Content("~/Grant/Approve")/@ViewBag.UrlPrevData">ใบลาก่อนหน้า</a>
							<a id="nextData" class="m-ui-button" href="@Url.Content("~/Grant/Approve")/@ViewBag.UrlNextData">ใบลาถัดไป</a>
						</div-->
						<div id="button-panel" class="left-side">
							<button id="all-approved" class="m-ui-button">อนุมัติทั้งหมด</button>
							<button id="all-rejected" class="ui-state-error m-ui-button">ไม่อนุมัติทั้งหมด</button>
							<button id="all-awaiting" class="ui-state-highlight m-ui-button">รอพิจารณาทั้งหมด</button>
							<a id="viewForm" class="m-ui-button" href="@ViewBag.UrlLinkForm" target="_blank">พิมพ์แบบฟอร์ม</a>
						</div>
					</div>
					<div id="second-space-panel" style="height:20px;">
					</div>
					<div id="third-inner-panel" class="ui-inner-panel">
						<table id="Leave-Grid"></table>
						<div id="Leave-Grid-nav"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
